@use 'variables' as *;
@use 'mixins' as *;

body {
    font-family: Arial, sans-serif;
    background-color: $BgcColor;
    user-select: none;
}

.box {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #87CEEB, #ffffff);
    color: $colorWhite;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    transition: background-color 1s ease-in-out;

    @include sm-screen {
        padding: 20px;
        height: 100vh;
        border-radius: 0;
    }

    @include md-screen {
        margin: 50px auto;
        width: 90%;
        height: 70vh;
        max-width: 370px;
        border-radius: 15px;
    }

    @include lg-screen {
        margin: 100px auto;
        width: 80%;
        height: 60vh;
        max-width: 470px;
        border-radius: 20px;
    }
}

.date-display {
    position: relative;
    z-index: 1;
    padding: 10px;
}

#current-date {
    font-size: 20px;
    font-weight: 600;
    color:$textColorForDay;
    padding: 10px;
    border-radius: 5px;

    @include sm-screen {
        font-size: 18px;
    }

    @include md-screen {
        font-size: 24px;
    }

    @include lg-screen {
        font-size: 28px;
    }
}

#holiday-message {
    font-size: 16px;
    color: $textColorForDay;
    margin-top: 5px;

    @include sm-screen {
        font-size: 14px;
    }

    @include md-screen {
        font-size: 18px;
    }

    @include lg-screen {
        font-size: 20px;
    }
}
