@use 'variables' as *;
@use 'mixins' as *;

body {
    font-family: Arial, sans-serif;
    background-color: $BgcColor;
}

.box {
    width: 70%;
    max-width: 270px;
    background: linear-gradient(135deg, #87CEEB, #ffffff);  
    color: $colorWhite;  
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    transition: background-color 1s ease-in-out;


    @include md-screen {
        width: 80%;
        max-width: 370px;
        text-align: center;
    }

    @include lg-screen {
        width: 90%;
        max-width: 470px;
        text-align: center;
        
    }
}


.date-display {
    position: relative;
    z-index: 1;
    padding: 10px;
}

#current-date {
    font-size: 24px;
    font-weight: 600;
    color:$colorWhite;
    padding: 10px;
    border-radius: 5px;

    @include md-screen {
        font-size: 28px;
    }

    @include lg-screen {
        font-size: 32px;
    }
}

#holiday-message {
    font-size: 18px;
    color: $colorWhite;
    margin-top: 5px;

    @include md-screen {
        font-size: 20px;
    }

    @include lg-screen {
        font-size: 22px;
    }
}
