@use 'variables' as *;
@use 'mixins' as *;

.weather-icon {
    width: 100px;
    margin-top: 20px;
    text-align: center;

    @include sm-screen {
        width: 80px;
    }

    @include md-screen {
        width: 150px;
    }

    @include lg-screen {
        width: 200px;
    }
}

.weather-info h2 {
    font-size: 20px;
    font-weight: 500;
    color: $primary-color;

    @include sm-screen {
        font-size: 18px;
    }

    @include md-screen {
        font-size: 24px;
    }

    @include lg-screen {
        font-size: 28px;
    }
}

.weather-info h3 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    color: $secondary-color;

    @include sm-screen {
        font-size: 12px;
    }

    @include md-screen {
        font-size: 16px;
    }

    @include lg-screen {
        font-size: 18px;
    }
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin-top: 30px;

    @include sm-screen {
        flex-direction: row;
        justify-content: space-around;
    }

    @include md-screen {
        flex-direction: row;
        justify-content: space-between;
    }

    @include lg-screen {
        flex-direction: row;
        justify-content: space-around;
    }
}

.col {
    display: flex;
    align-items: center;
    text-align: left;

    @include sm-screen {
        text-align: center;
    }

    @include md-screen {
        text-align: left;
    }

    @include lg-screen {
        text-align: center;
    }
}

.col img {
    width: 30px;
    margin-right: 5px;

    @include sm-screen {
        width: 20px;
    }

    @include md-screen {
        width: 35px;
    }

    @include lg-screen {
        width: 40px;
    }
}

.humidity, .wind, .tekst {
    font-size: 18px;
    margin-top: -4px;
    color: $highlight-color;

    @include sm-screen {
        font-size: 16px;
    }

    @include md-screen {
        font-size: 20px;
    }

    @include lg-screen {
        font-size: 22px;
    }
}
.day{
    background: linear-gradient(135deg, #87CEEB, #ffffff) !important;
}
.night{
    background: linear-gradient(135deg, #2C3E50, #1a1a1a) !important;
    .humidity, .wind ,.tekst ,h3 ,h2{
        color:$colorWhite;
    }
 }
    