@use 'variables' as *;
@use 'mixins' as *;

.weather-icon {
    width: 100px;
    margin-top: 20px;
    text-align: center;
    pointer-events: none;

    @include sm-screen {
        width: 70px;
    }

    @include md-screen {
        width: 150px;
    }

    @include lg-screen {
        width: 200px;
    }
}


.weather-info h2 {
    font-size: 20px;
    font-weight: 500;
    color: $textColorForDay;

    @include sm-screen {
        font-size: 18px;
    }

    @include md-screen {
        font-size: 24px;
    }

    @include lg-screen {
        font-size: 28px;
    }
}

.weather-info h3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
   color: $textColorForDay;

    @include sm-screen {
        font-size: 12px;
    }

    @include md-screen {
        font-size: 16px;
    }

    @include lg-screen {
        font-size: 18px;
    }
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin-top: 30px;
    width: 100%;

    @include sm-screen {
        flex-direction: row;
        justify-content: space-around;
    }

    @include md-screen {
        flex-direction: row;
        justify-content: space-between;
    }

    @include lg-screen {
        flex-direction: row;
        justify-content: space-between;
    }
    .material-symbols-outlined{
        font-size:50px ;
        color:$textColorForDay;

    }
}

.col {
    display: flex;
    align-items: center;
    text-align: left;

    @include sm-screen {
        text-align: center;
    }

    @include md-screen {
        text-align: left;
    }

    @include lg-screen {
        text-align: center;
    }
}

.col img {
    width: 30px;
    margin-right: 5px;

    @include sm-screen {
        width: 20px;
    }

    @include md-screen {
        width: 35px;
    }

    @include lg-screen {
        width: 40px;
    }
}

.humidity, .wind, .tekst {
    font-size: 18px;
    margin-top: -4px;
    color:$textColorForDay;

    @include sm-screen {
        font-size: 18px;
    }

    @include md-screen {
        font-size: 22px;
    }

    @include lg-screen {
        font-size: 24px;
    }
}
.day{
    background: linear-gradient(135deg, #87CEEB, #ffffff) !important;
    #current-date, #holiday-message{
        color:rgb(87, 84, 84);
     }
}
.night{
    background: linear-gradient(135deg, #2C3E50, #1a1a1a) !important;
    .humidity, .wind ,.tekst ,h3 ,h2, #current-date, #holiday-message , .material-symbols-outlined{
        color:rgb(208, 201, 201);
    }
    
 }
    